<header>
  <div class="container-fluid">
    <div class="container">
      <div class="header-container__top">
        {{{blocks.image}}}
        {{{blocks.title}}}
      </div>
      <div class="header-container__bottom">
        {{{blocks.search}}}
      </div>
    </div>
  </div>
  <div id="gradientBorder"></div>
  <div class="container articleNavigation">
        <div class="row justify-content-between">
          <nav id="breadcrumbs" class="col-12 col-md-9"><ol aria-label="Breadcrums - upwards navigatoin" class="breadcrumb">
            <li class="breadcrumb-item"><a href="//www.kth.se">KTH</a></li>
        </div>
      </div>
</header>