.application {

    &nth-
}

#deployments {
    .applicationName {
        font-weight: bold;   
    }
    
}

.importance {
    width: 1rem;
    height: 1rem;
    display: inline-block;
    font-weight: normal;
    .hide {
        display: none;
    }
  
    &.low {
      background: lightblue;
      
    }
    &.medium {
        background: lightgreen;
    }

    &.high {
        background: lightcoral;
    }
  
}