#deployments_wrapper {
    margin-bottom: 30px;
}

table#deployments.dataTable tbody td {
    background: #f6f6f6;
    border-top: 1px solid #ffffff
}
table#deployments.dataTable thead,
table#deployments.dataTable thead th,
table#deployments.dataTable thead td,
table#deployments.dataTable.no-footer {
    border-bottom: none;
    padding: 15px;
}
table#deployments.dataTable.no-footer {
    padding: 0px;
}

#deployments {
    .applicationName {
        a {
            font-weight: bold;   
            color: black;
        }
    }
}

h3 {
    .applicationName {
        color: #acacac;
    }
}

.importance {
    width: 1rem;
    height: 1rem;
    display: inline-block;
    font-weight: normal;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #cccccc;
    background: #ddd;
    margin-right: 0.5rem;

    .hide {
        display: none;
    }
  
    &.low {
        background: #dddddd;
    }
    &.medium {
        background: #24a0d8;
    }

    &.high {
        background: #d85497;
    }
  
}

.alert-info-text {
    color: black;
}

.irt-text {
    display: none;
}

#app {
    width: 100%;
    padding: 15px;
    overflow: hidden;
}

.alert-info {
    margin-bottom: 30px;
    border: 1px solid #faebcc;
}

.applicationUrl{
    padding-bottom: 0.5rem;
}

.publicUserDocumentationUrl {
    background: url('https://app.kth.se/style/kth-style/img/kth-style/icons/modal-info.svg');
    background-size: 1.0rem 1.0rem;
    background-repeat: no-repeat;
    margin-top: 1rem;

}
.publicUserDocumentationUrl a {
    padding-left: 1.5rem;
}

.publicApiDocumentationUrl {
    background: url('https://api.kth.se/api/pipeline/swagger/images/logo_small.png');
    background-size: 1.0rem 1.0rem;
    background-repeat: no-repeat;
    margin-top: 1rem;
}

.publicApiDocumentationUrl a {
    padding-left: 1.5rem;
}

.application ul {
    margin-top: 1rem;
}