#deployments {
    .applicationName {
        a {
            font-weight: bold;   
            color: black;
        }
    }
}

.importance {
    width: 1rem;
    height: 1rem;
    display: inline-block;
    font-weight: normal;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #ccc;
    background: ddd;

    .hide {
        display: none;
    }
  
    &.low {
        background: #ffffff;
    }
    &.medium {
        background: #fab919;
    }

    &.high {
        background: #e4363e;
    }
  
}

.alert-info-text {
    color: black;
}